<a href="https://colab.research.google.com/github/matthewbegun/monad/blob/master/lec01_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MXN500 Lecture 1 (Python)
This notebook is the python version of the lecture material from week 1, including live coding from the lecture (scribbles).

Packages required for this lecture:
- the `airquality` dataset is in `statsmodels`
- the `pandas` package provides dataframes and many other features of the `tidyverse` library

In [ ]:
# in python we can install packages with pip or conda
!pip install statsmodels

## Summary Statistics
Consider the following data for air quality in New York in 1973, available in R as "airquality".

We can get some of the R data sets from the `statsmodels` package.

In [ ]:
# in python we can import whole libraries...
import statsmodels.api as sm
import pandas as pd

# ... or specific objects from a library
from plotnine import ggplot, aes, geom_point

In [ ]:
# Create your own names by "assigning" variables using "=".
aq = sm.datasets.get_rdataset("airquality").data

In [ ]:
# in notebooks and iPython we can use ? for help like in R
?aq

In [ ]:
# we can look at the head of the dataframe...
aq.head()

In [ ]:
# ...and the tail
aq.tail()

In [ ]:
# To "View" a dataframe, hit the table button after the output.
# You can sort and filter from there.
# This only works in notebooks, so you should use them!
aq

In [ ]:
# How can I look at row 5? What about just the Ozone column?
# In pandas we can use the `.iloc` method to get rows or columns by number
# REMEMBER! Python counts from 0!
aq.iloc[4] # row 5

In [ ]:
# for columns we can
aq.iloc[:,0] # the first column is number 0!

In [ ]:
# we can slice by index
aq.iloc[:,0:3]

In [ ]:
# dataframes can also be sliced by rows
aq[0:5]

In [ ]:
# we can use labels instead of numbers with `.loc`
aq.loc[:, 'Ozone':'Wind']

In [ ]:
# if we pass just one label we get a column
aq['Ozone']

In [ ]:
# we can get the dimensions (shape) using
aq.shape

In [ ]:
# first element of shape is rows
aq.shape[0]

In [ ]:
# second element of shape is columns
aq.shape[1]

In [ ]:
# the last row of my dataframe is
aq.iloc[aq.shape[0]-1] # this is different from R, because python starts counting at 0!

In [ ]:
# in python we can count from the end by using negatives, much easier
aq.iloc[-1]

In [ ]:
# in python we don't have str, we have `info()` and `dtypes` for pandas objects and `repr()' for everything else...
aq.dtypes

In [ ]:
# `info()` includes more information
aq.info()

In [ ]:
# to filter by month we use boolean equals `==`(two equal signs)
aq_may = aq[aq['Month']==5] # inside the brakets identifies the rows we want, outside the brackets we are selecting them
aq_may.info()

In [ ]:
# count the occurance of each value for Ozone - in python the default is to remove NA...
aq_may['Ozone'].value_counts()

In [ ]:
# ...this time include NA - for this one we use dropna (defaults to true)
aq_may['Ozone'].value_counts(dropna=False)
# pandas uses "Not a Number" (NaN)

In [ ]:
# we can find the mean...
aq_may['Ozone'].mean()

In [ ]:
# ... and the median as well
aq['Ozone'].median()

In [ ]:
# if you want errors on missing data use skipna=False
aq['Ozone'].mean(skipna=False)

In [ ]:
# pandas comes with summaries for dataframes
aq_may.describe()

In [ ]:
# just one column...
aq_may['Ozone'].describe()

In [ ]:
# we can also do custom summaries with the agg function
# "agg is an alias for aggregate. Use the alias." <-- from pandas docs
aq_may.agg(['mean', 'median'])

In [ ]:
# we can make custom summaries as in R
aq_may.agg(ozone_mean=('Ozone','mean'),
           ozone_median=('Ozone','median'),
           wind_mean=('Wind','mean'))

In [ ]:
# ...or using a using a dict(ionary)
aq_may.agg({'Ozone': ['mean', 'median'],
            'Wind': ['mean', 'nunique']})

In [ ]:
# To calculate summaries for each month, you could do each seperately e.g.
aq_june = aq[aq['Month']==6]
aq_june['Ozone'].mean()
# for each month...

In [ ]:
# but we can use group_by instead
aq.groupby('Month')['Ozone'].describe()

In [ ]:
# or using mean ...
aq.groupby('Month')['Ozone'].mean()

In [ ]:
# ... and median
aq.groupby('Month')['Ozone'].median()

In [ ]:
# we can use agg on groups as well
aq.groupby('Month').agg(ozone_mean=('Ozone','mean'),
                        ozone_median=('Ozone','median'),
                        wind_mean=('Wind','mean'))

## Data Wrangling

In [ ]:
#  R datasets are available online here: https://vincentarelbundock.github.io/Rdatasets/
# for some reason this dataset didn't work correctly
# ld = sm.datasets.get_rdataset("ldeaths").data
# https://vincentarelbundock.github.io/Rdatasets/csv/datasets/ldeaths.csv
import pandas as pd

ld = pd.read_csv("https://vincentarelbundock.github.io/Rdatasets/csv/datasets/ldeaths.csv")
ld.info()

In [ ]:
# in R ldeaths is a times series object, in python we have imported it as a
# pandas data frame ... however when we inspect it we see:
ld

In [ ]:
# it starts in a longer format, with less than useful column labels and values
# lets start by getting the names of the columns
ld.columns

In [ ]:
# now we can drop the `rownames` column
ld.drop(columns='rownames', inplace=True)
ld

In [ ]:
# lets split time into year and month
ld['year'] = ld['time'].apply(lambda x: int(x))
ld

In [ ]:
# in python we can get names of the month as well, from calendar
from calendar import month_abbr
# 0 is empty in this list, so we slice from 1 to 13 to get 12 months worth
month_abbr[1:13]

In [ ]:
# in python we can multiply lists to repeat them, since we have 6 years we need
ld['month']=6*month_abbr[1:13]
ld

In [ ]:
# next we rename the `value` column to `deaths`
ld.rename(columns={'value': 'deaths'}, inplace=True)
ld

In [ ]:
# and drop the time column
ld.drop(columns='time', inplace=True)
ld

In [ ]:
# # now let's reindex on year and month
# ld_i=ld.set_index(['year','month'], inplace=False)
# ld_i

In [ ]:
# now that we have our long format, we can go to wide format like so
ld_wide = ld.pivot(index='year', columns='month', values='deaths')
ld_wide

In [ ]:
# unstack sorted our columns alphabetically! let's fix that
# we can sort our columns using a list
month_list = month_abbr[1:13]
ld_wider = ld_wide[month_list]
ld_wider

In [ ]:
# we can use `stack` to go from wide to long
ld_stacked = ld_wider.stack()
ld_stacked

In [ ]:
# and `unstack` to go back
ld_unstacked = ld_stacked.unstack()
ld_unstacked

## Putting it together

In [ ]:
# Annual total and average deaths:
ld.groupby('year').agg(Total_Annual_Deaths=('deaths','sum'),
                       Avg_Monthly_Deaths=('deaths','mean'),)

In [ ]:
# Monthly average deaths:
ld.groupby('month').agg(Avg_Deaths_By_Month=('deaths','mean'),)

## Checking my handwritten sums from the lecture

In [ ]:
# create lists from the observations
age = [39, 47, 45, 47, 65, 46, 67, 42]
bp = [144, 220, 138, 145, 162, 142, 170, 124]

In [ ]:
# Create a dictionary with lists as values
data = {'age': age, 'bp': bp}
data

In [ ]:
# Create a DataFrame from the dictionary
df = pd.DataFrame(data)
df

In [ ]:
# check my calculations
df.describe()